@model EmpireMan.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form nctype="multipart/form-data" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CategoriaId" />

    <div class="form-row">
        <div class="form-group">
            <label asp-for="CategoriaId" class="control-label"></label>
            <input asp-for="Categoria.Descricao" class="form-control" readonly="readonly" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodigoBarras" class="control-label"></label>
            <input asp-for="CodigoBarras" class="form-control" />
            <span asp-validation-for="CodigoBarras" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}
