@model EmpireMan.App.ViewModels.PedidoCadastroViewModel

<h1>Novo Pedido</h1>

<hr />

<form asp-action="Create">
    <input type="hidden" asp-for="@Model.PedidoViewModel.Id" />
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="PedidoViewModel.DataPedido" class="control-label"></label>
            <input asp-for="PedidoViewModel.DataPedido" class="form-control" />
            <span asp-validation-for="PedidoViewModel.DataPedido" class="text-danger"></span>
        </div>
        <div class="form-group col-md-9">
            <label asp-for="PedidoViewModel.ClienteId" class="control-label"></label>
            <select asp-for="PedidoViewModel.ClienteId" class="form-control" asp-items="@(new SelectList(Model.PedidoViewModel.ListaDeCliente, "Id", "Nome"))">
                <option></option>
            </select>
            <span asp-validation-for="PedidoViewModel.ClienteId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        @if (Model.PedidoViewModel.Id > 0)
        {
            <a asp-action="AdicionarProduto" class="btn btn-info" data-modal="">
                <span title="Adicionar" class="fa fa-pencil-alt"></span>
            </a>
        }
        else
        {
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        }

        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </div>
</form>
<hr />

@if (Model.PedidoViewModel.Id > 0)
{
    <div id="ProdutosTarget">
        <partial name="_TabelaProdutos" model="@Model.ListaPedidoItensViewModel" />
    </div>
}

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1000px;">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Pedidos/AdicionarItens.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            SetModal();
        });
    </script>

}
