<link rel="stylesheet" href="~/css/sidebar.css" />
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EmpireMen</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span></a> </li>
                <li><a asp-area="" asp-controller="Produtos" asp-action="Index">Produtos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-barcode"></span></a> </li>
                <li><a asp-area="" asp-controller="ProdutoEstoque" asp-action="Index">Estoque<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a> </li>
                <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a> </li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-info-sign"></span></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contato<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-earphone"></span></a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>